calcure==3.2.1
cffi==2.0.0
click==8.3.1
dooit==3.3.4
dooit-extras==0.2.1
greenlet==3.2.4
holidays==0.85
icalendar==6.3.2
jalali_core==1.0.0
jdatetime==5.2.0
linkify-it-py==2.0.3
mdit-py-plugins==0.5.0
numpy==2.4.0
platformdirs==4.5.0
pycparser==2.23
pygame==2.6.1
Pygments==2.19.2
pyperclip==1.11.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rich==14.2.0
setuptools==80.9.0
six==1.17.0
sounddevice==0.5.3
SQLAlchemy==2.0.44
textual==6.7.0
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
wheel==0.45.1
